<span style='color: #000' title='Frames'>  1211</span><span style='color: #009' title='Memory'>  25088.00 KB</span><span style='color: #900' title='Time'>   1126.79 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />