/*** OPEN SANS FONTS ***/
@font-face {
    font-family: 'open_sansbold';
    src: url('opensans-bold-webfont.eot');
    src: url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-bold-webfont.woff2') format('woff2'),
         url('opensans-bold-webfont.woff') format('woff'),
         url('opensans-bold-webfont.ttf') format('truetype'),
         url('opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold_italic';
    src: url('opensans-bolditalic-webfont.eot');
    src: url('opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-bolditalic-webfont.woff2') format('woff2'),
         url('opensans-bolditalic-webfont.woff') format('woff'),
         url('opensans-bolditalic-webfont.ttf') format('truetype'),
         url('opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('opensans-extrabold-webfont.eot');
    src: url('opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-extrabold-webfont.woff2') format('woff2'),
         url('opensans-extrabold-webfont.woff') format('woff'),
         url('opensans-extrabold-webfont.ttf') format('truetype'),
         url('opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('opensans-extrabolditalic-webfont.eot');
    src: url('opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('opensans-extrabolditalic-webfont.woff') format('woff'),
         url('opensans-extrabolditalic-webfont.ttf') format('truetype'),
         url('opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('opensans-italic-webfont.eot');
    src: url('opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-italic-webfont.woff2') format('woff2'),
         url('opensans-italic-webfont.woff') format('woff'),
         url('opensans-italic-webfont.ttf') format('truetype'),
         url('opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('opensans-light-webfont.eot');
    src: url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-light-webfont.woff2') format('woff2'),
         url('opensans-light-webfont.woff') format('woff'),
         url('opensans-light-webfont.ttf') format('truetype'),
         url('opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight_italic';
    src: url('opensans-lightitalic-webfont.eot');
    src: url('opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-lightitalic-webfont.woff2') format('woff2'),
         url('opensans-lightitalic-webfont.woff') format('woff'),
         url('opensans-lightitalic-webfont.ttf') format('truetype'),
         url('opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff2') format('woff2'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('opensans-semibold-webfont.eot');
    src: url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-semibold-webfont.woff2') format('woff2'),
         url('opensans-semibold-webfont.woff') format('woff'),
         url('opensans-semibold-webfont.ttf') format('truetype'),
         url('opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('opensans-semibolditalic-webfont.eot');
    src: url('opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('opensans-semibolditalic-webfont.woff') format('woff'),
         url('opensans-semibolditalic-webfont.ttf') format('truetype'),
         url('opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*** PROXIMA NOVA FONTS ***/
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('mark_simonson_-_proxima_nova_regular-webfont.eot');
    src: url('mark_simonson_-_proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('mark_simonson_-_proxima_nova_regular-webfont.woff2') format('woff2'),
         url('fmark_simonson_-_proxima_nova_regular-webfont.woff') format('woff'),
         url('mark_simonson_-_proxima_nova_regular-webfont.ttf') format('truetype'),
         url('mark_simonson_-_proxima_nova_regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_thextrabold';
    src: url('mark_simonson_-_proxima_nova_extrabold-webfont.eot');
    src: url('mark_simonson_-_proxima_nova_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('mark_simonson_-_proxima_nova_extrabold-webfont.woff2') format('woff2'),
         url('mark_simonson_-_proxima_nova_extrabold-webfont.woff') format('woff'),
         url('mark_simonson_-_proxima_nova_extrabold-webfont.ttf') format('truetype'),
         url('mark_simonson_-_proxima_nova_extrabold-webfont.svg#proxima_nova_thextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'trend_slabone';
    src: url('latinotype_-_trendslabone-webfont.eot');
    src: url('latinotype_-_trendslabone-webfont.eot?#iefix') format('embedded-opentype'),
         url('latinotype_-_trendslabone-webfont.woff2') format('woff2'),
         url('latinotype_-_trendslabone-webfont.woff') format('woff'),
         url('latinotype_-_trendslabone-webfont.ttf') format('truetype'),
         url('latinotype_-_trendslabone-webfont.svg#trend_slabone') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_rgsemibold';
    src: url('mark_simonson_-_proxima_nova_semibold-webfont.eot');
    src: url('mark_simonson_-_proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('mark_simonson_-_proxima_nova_semibold-webfont.woff2') format('woff2'),
         url('mark_simonson_-_proxima_nova_semibold-webfont.woff') format('woff'),
         url('mark_simonson_-_proxima_nova_semibold-webfont.ttf') format('truetype'),
         url('mark_simonson_-_proxima_nova_semibold-webfont.svg#proxima_nova_rgsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('mark_simonson_-_proxima_nova_bold-webfont.eot');
    src: url('mark_simonson_-_proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('mark_simonson_-_proxima_nova_bold-webfont.woff2') format('woff2'),
         url('mark_simonson_-_proxima_nova_bold-webfont.woff') format('woff'),
         url('mark_simonson_-_proxima_nova_bold-webfont.ttf') format('truetype'),
         url('mark_simonson_-_proxima_nova_bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*** ITC AVANT GARDE FONTS ***/
@font-face {
    font-family: 'ITCAvantGardeGothicDemi';
    src: url('11058.eot');
    src: url('11058.eot') format('embedded-opentype'),
         url('11058.woff') format('woff'),
         url('11058.ttf') format('truetype'),
         url('11058.svg#ITCAvantGardeGothicDemi') format('svg');
	font-weight: normal;
   	font-style: normal;
}
@font-face {
    font-family: 'ITCAvantGardeGothicBook';
    src: url('11059.eot');
    src: url('11059.eot') format('embedded-opentype'),
         url('11059.woff') format('woff'),
         url('11059.ttf') format('truetype'),
         url('11059.svg#ITCAvantGardeGothicBook') format('svg');
	font-weight: normal;
   	font-style: normal;
}
@font-face {
    font-family: 'ITCAvantGardeGothicBookOblique';
    src: url('11671.eot');
    src: url('11671.eot') format('embedded-opentype'),
         url('11671.woff') format('woff'),
         url('11671.ttf') format('truetype'),
         url('11671.svg#ITCAvantGardeGothicBookOblique') format('svg');
	font-weight: normal;
   	font-style: normal;
}
@font-face {
    font-family: 'ITCAvantGardeGothicDemiOblique';
    src: url('11673.eot');
    src: url('11673.eot') format('embedded-opentype'),
         url('11673.woff') format('woff'),
         url('11673.ttf') format('truetype'),
         url('11673.svg#ITCAvantGardeGothicDemiOblique') format('svg');
	font-weight: normal;
   	font-style: normal;
}


/*** CALIBRI FONTS ***/
@font-face {
    font-family: 'calibriregular';
    src: url('calibri-webfont.eot');
    src: url('calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('calibri-webfont.woff') format('woff'),
         url('calibri-webfont.ttf') format('truetype'),
         url('calibri-webfont.svg#calibriregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'calibribold';
    src: url('calibrib-webfont.eot');
    src: url('calibrib-webfont.eot?#iefix') format('embedded-opentype'),
         url('calibrib-webfont.woff') format('woff'),
         url('calibrib-webfont.ttf') format('truetype'),
         url('calibrib-webfont.svg#calibribold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'calibriitalic';
    src: url('calibrii-webfont.eot');
    src: url('calibrii-webfont.eot?#iefix') format('embedded-opentype'),
         url('calibrii-webfont.woff') format('woff'),
         url('calibrii-webfont.ttf') format('truetype'),
         url('calibrii-webfont.svg#calibriitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'calibrilight';
    src: url('calibril-webfont.eot');
    src: url('calibril-webfont.eot?#iefix') format('embedded-opentype'),
         url('calibril-webfont.woff') format('woff'),
         url('calibril-webfont.ttf') format('truetype'),
         url('calibril-webfont.svg#calibrilight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'calibrilight_italic';
    src: url('calibrili-webfont.eot');
    src: url('calibrili-webfont.eot?#iefix') format('embedded-opentype'),
         url('calibrili-webfont.woff') format('woff'),
         url('calibrili-webfont.ttf') format('truetype'),
         url('calibrili-webfont.svg#calibrilight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'calibribold_italic';
    src: url('calibriz-webfont.eot');
    src: url('calibriz-webfont.eot?#iefix') format('embedded-opentype'),
         url('calibriz-webfont.woff') format('woff'),
         url('calibriz-webfont.ttf') format('truetype'),
         url('calibriz-webfont.svg#calibribold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*** MYRIAD FONTS ***/
@font-face {
    font-family: 'MyriadProBold';
    src: url('myriadpro-bold.eot');
    src: url('myriadpro-bold.eot') format('embedded-opentype'),
         url('myriadpro-bold.woff') format('woff'),
         url('myriadpro-bold.ttf') format('truetype'),
         url('myriadpro-bold.svg#MyriadProBold') format('svg');
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('myriadpro-regular.eot');
    src: url('myriadpro-regular.eot') format('embedded-opentype'),
         url('myriadpro-regular.woff') format('woff'),
         url('myriadpro-regular.ttf') format('truetype'),
         url('myriadpro-regular.svg#MyriadProRegular') format('svg');
}
@font-face {
    font-family: 'MyriadProSemibold';
    src: url('myriadpro-semibold.eot');
    src: url('myriadpro-semibold.eot') format('embedded-opentype'),
         url('myriadpro-semibold.woff') format('woff'),
         url('myriadpro-semibold.ttf') format('truetype'),
         url('myriadpro-semibold.svg#MyriadProSemibold') format('svg');
}


/*** ROBOTO FONTS ***/
@font-face {
    font-family: 'robotoblack';
    src: url('roboto-black_0-webfont.eot');
    src: url('roboto-black_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-black_0-webfont.woff') format('woff'),
         url('roboto-black_0-webfont.ttf') format('truetype'),
         url('roboto-black_0-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('roboto-bold-webfont.eot');
    src: url('roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-bold-webfont.woff') format('woff'),
         url('roboto-bold-webfont.ttf') format('truetype'),
         url('roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold_italic';
    src: url('roboto-bolditalic_0-webfont.eot');
    src: url('roboto-bolditalic_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-bolditalic_0-webfont.woff2') format('woff2'),
         url('roboto-bolditalic_0-webfont.woff') format('woff'),
         url('roboto-bolditalic_0-webfont.ttf') format('truetype'),
         url('roboto-bolditalic_0-webfont.svg#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('roboto-medium_0-webfont.eot');
    src: url('roboto-medium_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-medium_0-webfont.woff') format('woff'),
         url('roboto-medium_0-webfont.ttf') format('truetype'),
         url('roboto-medium_0-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular_0-webfont.eot');
    src: url('roboto-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-regular_0-webfont.woff') format('woff'),
         url('roboto-regular_0-webfont.ttf') format('truetype'),
         url('roboto-regular_0-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('roboto-light-webfont.eot');
    src: url('roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-light-webfont.woff') format('woff'),
         url('roboto-light-webfont.ttf') format('truetype'),
         url('roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('roboto-thin-webfont.eot');
    src: url('roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-thin-webfont.woff') format('woff'),
         url('roboto-thin-webfont.ttf') format('truetype'),
         url('roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*** GOTHAM FONTS ***/
@font-face {
    font-family: 'GothamRoundedBold';
    src: url('gothamrnd-bold.eot');
    src: url('gothamrnd-bold.eot') format('embedded-opentype'),
         url('gothamrnd-bold.woff') format('woff'),
         url('gothamrnd-bold.ttf') format('truetype'),
         url('gothamrnd-bold.svg#GothamRoundedBold') format('svg');
	font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamRoundedBoldItalic';
    src: url('gothamrnd-boldita.eot');
    src: url('gothamrnd-boldita.eot') format('embedded-opentype'),
         url('gothamrnd-boldita.woff') format('woff'),
         url('gothamrnd-boldita.ttf') format('truetype'),
         url('gothamrnd-boldita.svg#GothamRoundedBoldItalic') format('svg');
	font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamRoundedBook';
    src: url('gothamrnd-book.eot');
    src: url('gothamrnd-book.eot') format('embedded-opentype'),
         url('gothamrnd-book.woff') format('woff'),
         url('gothamrnd-book.ttf') format('truetype'),
         url('gothamrnd-book.svg#GothamRoundedBook') format('svg');
	font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamRoundedBookItalic';
    src: url('gothamrnd-bookita.eot');
    src: url('gothamrnd-bookita.eot') format('embedded-opentype'),
         url('gothamrnd-bookita.woff') format('woff'),
         url('gothamrnd-bookita.ttf') format('truetype'),
         url('gothamrnd-bookita.svg#GothamRoundedBookItalic') format('svg');
	font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamRoundedLight';
    src: url('gothamrnd-light.eot');
    src: url('gothamrnd-light.eot') format('embedded-opentype'),
         url('gothamrnd-light.woff') format('woff'),
         url('gothamrnd-light.ttf') format('truetype'),
         url('gothamrnd-light.svg#GothamRoundedLight') format('svg');
	font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamRoundedLightItalic';
    src: url('gothamrnd-lightita.eot');
    src: url('gothamrnd-lightita.eot') format('embedded-opentype'),
         url('gothamrnd-lightita.woff') format('woff'),
         url('gothamrnd-lightita.ttf') format('truetype'),
         url('gothamrnd-lightita.svg#GothamRoundedLightItalic') format('svg');
	font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamRoundedMediumItalic';
    src: url('gothamrnd-medita.eot');
    src: url('gothamrnd-medita.eot') format('embedded-opentype'),
         url('gothamrnd-medita.woff') format('woff'),
         url('gothamrnd-medita.ttf') format('truetype'),
         url('gothamrnd-medita.svg#GothamRoundedMediumItalic') format('svg');
	font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamRoundedMedium';
    src: url('gothamrnd-medium.eot');
    src: url('gothamrnd-medium.eot') format('embedded-opentype'),
         url('gothamrnd-medium.woff') format('woff'),
         url('gothamrnd-medium.ttf') format('truetype'),
         url('gothamrnd-medium.svg#GothamRoundedMedium') format('svg');
	font-weight: normal;
    font-style: normal;
}


/*** CONTINUUM FONTS ***/
@font-face {
    font-family: 'continuum_boldregular';
    src: url('contb-webfont.eot');
    src: url('contb-webfont.eot?#iefix') format('embedded-opentype'),
         url('contb-webfont.woff') format('woff'),
         url('contb-webfont.ttf') format('truetype'),
         url('contb-webfont.svg#continuum_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'continuum_lightregular';
    src: url('contl-webfont.eot');
    src: url('contl-webfont.eot?#iefix') format('embedded-opentype'),
         url('contl-webfont.woff') format('woff'),
         url('contl-webfont.ttf') format('truetype'),
         url('contl-webfont.svg#continuum_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'continuum_mediumregular';
    src: url('contm-webfont.eot');
    src: url('contm-webfont.eot?#iefix') format('embedded-opentype'),
         url('contm-webfont.woff') format('woff'),
         url('contm-webfont.ttf') format('truetype'),
         url('contm-webfont.svg#continuum_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*** Inspiration FONTS ***/
@font-face {
    font-family: 'inspirationregular';
    src: url('inspiration-webfont.eot');
    src: url('inspiration-webfont.eot?#iefix') format('embedded-opentype'),
         url('inspiration-webfont.woff') format('woff'),
         url('inspiration-webfont.ttf') format('truetype'),
         url('inspiration-webfont.svg#inspirationregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*** HELVETICA FONTS ***/
@font-face {
    font-family: 'helvetica_neuemedium';
    src: url('helveticaneue-medium-webfont.eot');
    src: url('helveticaneue-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-medium-webfont.woff2') format('woff2'),
         url('helveticaneue-medium-webfont.woff') format('woff'),
         url('helveticaneue-medium-webfont.ttf') format('truetype'),
         url('helveticaneue-medium-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neuemediumcond';
    src: url('helveticaneue-mediumcond-webfont.eot');
    src: url('helveticaneue-mediumcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-mediumcond-webfont.woff2') format('woff2'),
         url('helveticaneue-mediumcond-webfont.woff') format('woff'),
         url('helveticaneue-mediumcond-webfont.ttf') format('truetype'),
         url('helveticaneue-mediumcond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neuemediumcondobl';
    src: url('helveticaneue-mediumcondobl-webfont.eot');
    src: url('helveticaneue-mediumcondobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-mediumcondobl-webfont.woff2') format('woff2'),
         url('helveticaneue-mediumcondobl-webfont.woff') format('woff'),
         url('helveticaneue-mediumcondobl-webfont.ttf') format('truetype'),
         url('helveticaneue-mediumcondobl-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neuemediumext';
    src: url('helveticaneue-mediumext-webfont.eot');
    src: url('helveticaneue-mediumext-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-mediumext-webfont.woff2') format('woff2'),
         url('helveticaneue-mediumext-webfont.woff') format('woff'),
         url('helveticaneue-mediumext-webfont.ttf') format('truetype'),
         url('helveticaneue-mediumext-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neuemediumextobl';
    src: url('helveticaneue-mediumextobl-webfont.eot');
    src: url('helveticaneue-mediumextobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-mediumextobl-webfont.woff2') format('woff2'),
         url('helveticaneue-mediumextobl-webfont.woff') format('woff'),
         url('helveticaneue-mediumextobl-webfont.ttf') format('truetype'),
         url('helveticaneue-mediumextobl-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neuemediumitalic';
    src: url('helveticaneue-mediumitalic-webfont.eot');
    src: url('helveticaneue-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-mediumitalic-webfont.woff2') format('woff2'),
         url('helveticaneue-mediumitalic-webfont.woff') format('woff'),
         url('helveticaneue-mediumitalic-webfont.ttf') format('truetype'),
         url('helveticaneue-mediumitalic-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neueroman';
    src: url('helveticaneue-roman-webfont.eot');
    src: url('helveticaneue-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-roman-webfont.woff2') format('woff2'),
         url('helveticaneue-roman-webfont.woff') format('woff'),
         url('helveticaneue-roman-webfont.ttf') format('truetype'),
         url('helveticaneue-roman-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neuethin';
    src: url('helveticaneue-thin-webfont.eot');
    src: url('helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-thin-webfont.woff2') format('woff2'),
         url('helveticaneue-thin-webfont.woff') format('woff'),
         url('helveticaneue-thin-webfont.ttf') format('truetype'),
         url('helveticaneue-thin-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neuethincond';
    src: url('helveticaneue-thincond-webfont.eot');
    src: url('helveticaneue-thincond-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-thincond-webfont.woff2') format('woff2'),
         url('helveticaneue-thincond-webfont.woff') format('woff'),
         url('helveticaneue-thincond-webfont.ttf') format('truetype'),
         url('helveticaneue-thincond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neuethincondobl';
    src: url('helveticaneue-thincondobl-webfont.eot');
    src: url('helveticaneue-thincondobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-thincondobl-webfont.woff2') format('woff2'),
         url('helveticaneue-thincondobl-webfont.woff') format('woff'),
         url('helveticaneue-thincondobl-webfont.ttf') format('truetype'),
         url('helveticaneue-thincondobl-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neuethinext';
    src: url('helveticaneue-thinext-webfont.eot');
    src: url('helveticaneue-thinext-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-thinext-webfont.woff2') format('woff2'),
         url('helveticaneue-thinext-webfont.woff') format('woff'),
         url('helveticaneue-thinext-webfont.ttf') format('truetype'),
         url('helveticaneue-thinext-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neuethinextobl';
    src: url('helveticaneue-thinextobl-webfont.eot');
    src: url('helveticaneue-thinextobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-thinextobl-webfont.woff2') format('woff2'),
         url('helveticaneue-thinextobl-webfont.woff') format('woff'),
         url('helveticaneue-thinextobl-webfont.ttf') format('truetype'),
         url('helveticaneue-thinextobl-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neuethinitalic';
    src: url('helveticaneue-thinitalic-webfont.eot');
    src: url('helveticaneue-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-thinitalic-webfont.woff2') format('woff2'),
         url('helveticaneue-thinitalic-webfont.woff') format('woff'),
         url('helveticaneue-thinitalic-webfont.ttf') format('truetype'),
         url('helveticaneue-thinitalic-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neueultraligcond';
    src: url('helveticaneue-ultraligcond-webfont.eot');
    src: url('helveticaneue-ultraligcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-ultraligcond-webfont.woff2') format('woff2'),
         url('helveticaneue-ultraligcond-webfont.woff') format('woff'),
         url('helveticaneue-ultraligcond-webfont.ttf') format('truetype'),
         url('helveticaneue-ultraligcond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neueultraligcondobl';
    src: url('helveticaneue-ultraligcondobl-webfont.eot');
    src: url('helveticaneue-ultraligcondobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-ultraligcondobl-webfont.woff2') format('woff2'),
         url('helveticaneue-ultraligcondobl-webfont.woff') format('woff'),
         url('helveticaneue-ultraligcondobl-webfont.ttf') format('truetype'),
         url('helveticaneue-ultraligcondobl-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neueultraligext';
    src: url('helveticaneue-ultraligext-webfont.eot');
    src: url('helveticaneue-ultraligext-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-ultraligext-webfont.woff2') format('woff2'),
         url('helveticaneue-ultraligext-webfont.woff') format('woff'),
         url('helveticaneue-ultraligext-webfont.ttf') format('truetype'),
         url('helveticaneue-ultraligext-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neueultraligextobl';
    src: url('helveticaneue-ultraligextobl-webfont.eot');
    src: url('helveticaneue-ultraligextobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-ultraligextobl-webfont.woff2') format('woff2'),
         url('helveticaneue-ultraligextobl-webfont.woff') format('woff'),
         url('helveticaneue-ultraligextobl-webfont.ttf') format('truetype'),
         url('helveticaneue-ultraligextobl-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica_neueultralight';
    src: url('helveticaneue-ultralight-webfont.eot');
    src: url('helveticaneue-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-ultralight-webfont.woff2') format('woff2'),
         url('helveticaneue-ultralight-webfont.woff') format('woff'),
         url('helveticaneue-ultralight-webfont.ttf') format('truetype'),
         url('helveticaneue-ultralight-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neueultralightital';
    src: url('helveticaneue-ultralightital-webfont.eot');
    src: url('helveticaneue-ultralightital-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneue-ultralightital-webfont.woff2') format('woff2'),
         url('helveticaneue-ultralightital-webfont.woff') format('woff'),
         url('helveticaneue-ultralightital-webfont.ttf') format('truetype'),
         url('helveticaneue-ultralightital-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}